.boxes {
	width: 150px;
	height: 120px;
	border-color: black;
	border-style: solid;
	border-width: 3px;
	margin: 1px;
	float: left;
}

#board {
	cursor: url(../images/Ice_Cube_Icon.png), auto;
	width: 474px;
	margin: 0 auto;
}

.isX {
	background-image: url(../images/2000px-FireIcon.svg.png);
	background-repeat: no-repeat;
	background-position: center;
}

.isO {
	background-image: url(../images/Ice_Cube_Icon.png);
	background-repeat: no-repeat;
	background-position: center;
}

#scoreboard {
	width: 150px;
	margin: 0 auto;
}

#gameStatusMessage {
	text-align: center;
}

.boxes:hover {
	background-color: pink;
}

h1 {
	text-align: center;
}

.box {
	font-size: 30px;
	text-align: center;
}

img {
	width: 100px;
	height: 100px;
}
