#container {
	margin: 0 auto;
}

FORM {
	text-align: center;
	margin: 10px;
}

.boxes {
	width: 150px;
	height: 120px;
	border-color: black;
	border-style: solid;
	border-width: 3px;
	margin: 1px;
	float: left;
}

#board {
	cursor: url(../images/pick-me.png), auto;
	width: 474px;
	margin: 0 auto;
	float: left;
}

.isX {
	cursor: url(../images/stop-sign.png), auto;
	background-image: url(../images/2000px-FireIcon.svg.png);
	background-repeat: no-repeat;
	background-position: center;
}

.isO {
	cursor: url(../images/stop-sign.png), auto;
	background-image: url(../images/Ice_Cube_Icon.png);
	background-repeat: no-repeat;
	background-position: center;
}

#scoreboard {
	width: 200px;
	margin: 0 30px;
	float: left;
}

#gameStatusMessage {
	text-align: center;
	margin-bottom: 15px;
}

.boxes:hover {
	background-color: pink;
}

H1 {
	text-align: center;
	width: 100%;
}

H3 {
	text-align: center;
}

