<!DOCTYPE html>
<html>
<head>
	<title>Tic-Tac-Toe</title>
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/angular.js"></script>
    <script type="text/javascript" src="js/firebase.js"></script>
    <script type="text/javascript" src="js/angularfire.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controller.js"></script>
</head>
<body ng-app="myApp" ng-controller="TicTacToeController as tttCtrl">
<h1>Tic-Tac-Toe</h1>
	<div id="container">
		<div id="scoreboard">
			<!-- play scores retrieved from controller -->
			<h3>Player 1: {{ tttCtrl.p1 }} wins</h3>
			<h3>Player 2: {{ tttCtrl.p2 }} wins</h3>
			<h3>Ties: {{ tttCtrl.tie }}</h3>
		</div>
		<div id="gameStatusMessage">
			<!-- current status of game -->
			<h2>{{ tttCtrl.gameStatus }}</h2>
			<button ng-click="tttCtrl.resetBoard()">Play again!</button>
		</div>
		<!-- displays board -->
		<div id="board">
			<div class="boxes" ng-repeat="box in tttCtrl.boxes" ng-click="tttCtrl.chooseBox($index)" ng-class="{ 'isX': box.isX, 'isO': box.isO }">
			</div>
		</div>
	</div>
	<script src="js/app.js"></script>
	<script src="js/controller.js"></script>
</body>
</html>


